:root {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--zircon-50);
}

body{
  
  background: var(--zircon-400);
  background: linear-gradient(42deg, var(--zircon-800) 16%, var(--zircon-950) 82%);
}

:root{

  
  --zircon-50: #f0f6ff;
  --zircon-100: #dbe9fe;
  --zircon-200: #bfd9fe;
  --zircon-300: #93c1fd;
  --zircon-400: #609ffa;
  --zircon-500: #3b7bf6;
  --zircon-600: #255ceb;
  --zircon-700: #1d47d8;
  --zircon-800: #1e3baf;
  --zircon-900: #1e368a;
  --zircon-950: #172354;
  
  
  
  
  
  
  


}